.about {
    h2 {
        color: $darkGray;
        line-height: 0.6;
        margin-left: 0.05em;
        margin-bottom: 0.8em;
    }

    &__heading {
        &__photo {
            margin-right: auto;
            margin-left: 8%;
            width: 16%;
            min-width: 200px;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__text {
        color: $mediumGray;
        margin-left: 20%;
    }

    &__text::before {
        content: "";
        position: absolute;
        top: -25px;
        right: -20px;
        width: 40px;
        height: 40px;
        border-top: 8px solid $red;
        border-right: 8px solid $red;
    }

    &__text::after {
        content: "";
        position: absolute;
        bottom: -35px;
        left: 14%;
        width: 40px;
        height: 40px;
        border-bottom: 8px solid $red;
        border-left: 8px solid $red;
    }

    .wrapper {
        position: relative;
    }
}